# Python Environment
venv/
env/
.env

# Python Cache 
__pycache__/
*.py[cod]
*$py.class

# IDE Settings (Specific to your computer)
.vscode/
.idea/

# Scraper Logs & Temporary Files
*.log
.DS_Store

# Data Files 
 *.csv
*.xlsx